* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
}

:root {
    --main-color: #1D6154;
}

/** end reset css**/
body {
    max-width: 1140px;
    min-width: 320px;
    margin: auto;
    font-family: 'Work Sans';
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

/* img {
    object-fit: cover;
} */

section {
    margin: 50px 0;
    /* padding: 50px 50px; */
    width: 80%;
}

/* all flex  */
header,
header h1,
nav ul {
    display: flex;

}

/* all flex  */

/* ******************* header **************************** */
header {
    width: 100%;
    justify-content: space-between;
    margin: 50px 0
}

header span {
    font-family: 'Work Sans';
    font-size: 10px;
    letter-spacing: 0.1em;
}

header h1 {
    flex-direction: column;
    font-family: 'Syne';
    font-size: 22px;
    font-weight: 800;
    color: #B1663C;
}

nav ul {
    align-items: center;
    gap: 20px;
}

nav li {
    padding: 0 10px;
    font-size: 17px;
    transition: all 0.5s ease
}

nav img {
    width: 20px;
    height: 20px;
}

nav li:hover,
nav img:hover {
    color: #B1663C;
    cursor: pointer;
}

/* *************************************** main ************************************** */
/* all flex  */
.introduction {
    display: flex;

}

/* all flex  */
/* *************************************** introduction ************************************** */
.introduction {
    width: 80%;
    /* display: flex; */
    align-items: center;
    background-color: green;
    gap: 50px;
}

.introduction figure {
    background-color: red;
    width: 100%;
    /* flex: 1; */
}

.introduction img {

    /* width: 100%; */
    /* flex: 1; */
}

.introduction p {
    /* width: 100%; */
    /* flex: 1; */
}